<!DOCTYPE html>
<html lang="en" manifest="/static/cache/manifest.appcache">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Main - Twenty One Pilots</title>
</head>

<body>
    <div class="content">

        <header style="z-index: 100;">
            <nav class="navbar navbar-expand-lg navbar-light row justify-content-center text-center">
                <a href="#" class="navbarleft"><img class="logo" src="/static/images/logo.png" alt="logo"></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse row justify-content-center text-center"
                    id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto text-center d-flex justify-content-between ">
                        <li class="nav-item">
                            <a class="nav-link" href="index">Main</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="news">News</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" data-toggle="dropdown-submenu"
                                aria-haspopup="true" aria-expanded="false" onclick="return false">
                                For fans
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Fan club</a>
                                <a class="dropdown-item" href="tour">Tour schedule</a>
                                <a class="dropdown-item" href="#">Lyrics</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="fans" tabindex="-1" aria-disabled="true">Fans appeal</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="concert" tabindex="-1" aria-disabled="true">Concert venue</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="admin" tabindex="-1" aria-disabled="true">Admin</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <p class="text-center">The place of the next concert</p>
                <div id="map-container-google-1" class="text-center map-container">
                    <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        allowfullscreen></iframe>
                </div>

                <p class="text-center mt-5">Contact details</p>
                <dl class="row">
                    <dt class="col-sm-3">E-mail</dt>
                    <dd class="col-sm-9">someemail@gmail.com</dd>

                    <dt class="col-sm-3">Addresses</dt>
                    <dd class="col-sm-9">
                        <p>Cecilia Chapman
                            711-2880 Nulla St.
                            Mankato Mississippi 96522
                            (257) 563-7401.</p>
                        <p>Iris Watson
                            P.O. Box 283 8562 Fusce Rd.
                            Frederick Nebraska 20620
                            (372) 587-2335</p>
                    </dd>
                </dl>

                <button type="button" class="btn btn-primary btn-lg btn-block btn-outline-warning btn-dark">Buy a
                    ticket</button>
            </div>

        </main>
    </div>

    <footer class="text-center">© Copyright 2019</footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>