@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.logo {
    width: 120px;
    height: 120px;
}

.navbar-nav {
    display:table;
    width:100%;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.navbar {
    padding: 0;
    margin: 0;
    width: 100%;
}

.navbar-nav > ul {
    width: 100%;
}

.navbar-nav > li {
    float: none;
    text-align: center;
}

.navbar-nav > li > a {
    color: black;
    font-size: 1.2rem;
}

nav {
    height: 130px;
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: #fee936;
}

body header{
    margin: auto;
    background-color: #fee936;
}
body {
    background-color: #fee936 !important;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu {
    background-color: #fee936;
}

.collapsing {
    background-color: #fee936;
    -webkit-transition: none;
    transition: none;
    display: none;
}


.logo {
    filter: brightness(0);
}

.main-img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: top;
}

main .group .members {
    max-width: 100%;
}

main .group .members .tyler img {
    padding-top: 20px;
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

main .group .members .josh img {
    padding-top: 20px;
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}
    
main .album .trench img {
    width: 80%;
    object-fit: cover;
    object-position: center;
}


.group .title {
    font-size: 2.4rem;
}

.group .members h1 {
    font-size: 1.8rem;
}

.group .members h4 {
    padding-top: 25px;
    display: block;
    font-size: 1.4rem;
}

.album .title {
    font-size: 2.4rem;
}

.album .trench h1 {
    font-size: 1.8rem;
}

.album .trench h4 {
    padding-top: 20px;
    display: block;
    font-size: 1.4rem;
}

footer {
    line-height: 80px;
    height: 80px;
    font-size: 1.2rem;
}

.collapse {
    background-color: #fee936;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}